-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: farmmanagement_dpsk
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `crop`
--

DROP TABLE IF EXISTS `crop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crop` (
  `Crop_ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Season_ID` int NOT NULL,
  `Yield_Estimate` decimal(10,2) DEFAULT NULL,
  `Soil_ID` int DEFAULT NULL,
  `District_ID` int DEFAULT NULL,
  PRIMARY KEY (`Crop_ID`),
  KEY `Soil_ID` (`Soil_ID`),
  KEY `District_ID` (`District_ID`),
  KEY `Season_ID` (`Season_ID`),
  KEY `idx_crop_district` (`District_ID`),
  CONSTRAINT `crop_ibfk_1` FOREIGN KEY (`Soil_ID`) REFERENCES `soil` (`Soil_ID`) ON DELETE SET NULL,
  CONSTRAINT `crop_ibfk_2` FOREIGN KEY (`District_ID`) REFERENCES `districts` (`District_ID`) ON DELETE SET NULL,
  CONSTRAINT `crop_ibfk_3` FOREIGN KEY (`Season_ID`) REFERENCES `season` (`Season_ID`),
  CONSTRAINT `chk_realistic_yield` CHECK ((((`Name` = _utf8mb4'Sugarcane') and (`Yield_Estimate` between 70000 and 100000)) or ((`Name` = _utf8mb4'Cotton') and (`Yield_Estimate` between 500 and 2500)) or ((`Name` in (_utf8mb4'Wheat',_utf8mb4'Rice',_utf8mb4'Maize',_utf8mb4'Barley')) and (`Yield_Estimate` between 2000 and 10000)) or ((`Name` in (_utf8mb4'Pulses',_utf8mb4'Mustard',_utf8mb4'Groundnut')) and (`Yield_Estimate` between 800 and 4000)) or (`Yield_Estimate` between 500 and 100000))),
  CONSTRAINT `crop_chk_1` CHECK ((`Yield_Estimate` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=199 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Yield estimates in kg/ha. Standard ranges:\n- Sugarcane: 70,000-100,000\n- Cereals (Wheat/Rice/Maize): 2,000-10,000\n- Cotton: 500-2,500\n- Pulses/Oilseeds: 800-4,000\n- Vegetables: 10,000-40,000';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `crop_disease`
--

DROP TABLE IF EXISTS `crop_disease`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crop_disease` (
  `Disease_ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Symptoms` text NOT NULL,
  `Treatment` text NOT NULL,
  `Crop_ID` int DEFAULT NULL,
  PRIMARY KEY (`Disease_ID`),
  KEY `Crop_ID` (`Crop_ID`),
  CONSTRAINT `crop_disease_ibfk_1` FOREIGN KEY (`Crop_ID`) REFERENCES `crop` (`Crop_ID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `crop_district_mapping`
--

DROP TABLE IF EXISTS `crop_district_mapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crop_district_mapping` (
  `Crop_ID` int NOT NULL,
  `District_ID` int NOT NULL,
  PRIMARY KEY (`Crop_ID`,`District_ID`),
  KEY `District_ID` (`District_ID`),
  CONSTRAINT `crop_district_mapping_ibfk_1` FOREIGN KEY (`Crop_ID`) REFERENCES `crop` (`Crop_ID`),
  CONSTRAINT `crop_district_mapping_ibfk_2` FOREIGN KEY (`District_ID`) REFERENCES `districts` (`District_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `crop_irrigation_requirements`
--

DROP TABLE IF EXISTS `crop_irrigation_requirements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crop_irrigation_requirements` (
  `Crop_ID` int NOT NULL,
  `Irrigation_Requirement` varchar(20) NOT NULL,
  PRIMARY KEY (`Crop_ID`),
  CONSTRAINT `crop_irrigation_requirements_ibfk_1` FOREIGN KEY (`Crop_ID`) REFERENCES `crop` (`Crop_ID`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `crop_plan`
--

DROP TABLE IF EXISTS `crop_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crop_plan` (
  `Plan_ID` int NOT NULL AUTO_INCREMENT,
  `Farmer_ID` int NOT NULL,
  `Crop_ID` int NOT NULL,
  `District_ID` int NOT NULL,
  `Season_ID` int NOT NULL,
  `Expected_Yield` int DEFAULT NULL,
  `Recommended_Fertilizer` varchar(50) DEFAULT NULL,
  `Disease_Risk` varchar(50) DEFAULT NULL,
  `Recommended_Treatment` varchar(50) DEFAULT NULL,
  `Sowing_Month` varchar(20) DEFAULT NULL,
  `Harvest_Month` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`Plan_ID`),
  KEY `Crop_ID` (`Crop_ID`),
  KEY `Farmer_ID` (`Farmer_ID`),
  CONSTRAINT `crop_plan_ibfk_1` FOREIGN KEY (`Crop_ID`) REFERENCES `crop` (`Crop_ID`),
  CONSTRAINT `crop_plan_ibfk_2` FOREIGN KEY (`Farmer_ID`) REFERENCES `farmer` (`Farmer_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `crop_plan_backup`
--

DROP TABLE IF EXISTS `crop_plan_backup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `crop_plan_backup` (
  `Plan_ID` int NOT NULL DEFAULT '0',
  `Farmer_ID` int NOT NULL,
  `Crop_ID` int NOT NULL,
  `District_ID` int NOT NULL,
  `Season_ID` int NOT NULL,
  `Expected_Yield` int DEFAULT NULL,
  `Recommended_Fertilizer` varchar(50) DEFAULT NULL,
  `Disease_Risk` varchar(50) DEFAULT NULL,
  `Recommended_Treatment` varchar(50) DEFAULT NULL,
  `Sowing_Month` varchar(20) DEFAULT NULL,
  `Harvest_Month` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `districts`
--

DROP TABLE IF EXISTS `districts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `districts` (
  `District_ID` int NOT NULL AUTO_INCREMENT,
  `District_Name` varchar(100) NOT NULL,
  `State_ID` int DEFAULT NULL,
  PRIMARY KEY (`District_ID`),
  KEY `State_ID` (`State_ID`),
  KEY `idx_district_name` (`District_Name`),
  CONSTRAINT `districts_ibfk_1` FOREIGN KEY (`State_ID`) REFERENCES `states` (`State_ID`) ON DELETE CASCADE,
  CONSTRAINT `fk_state_valid` FOREIGN KEY (`State_ID`) REFERENCES `states` (`State_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `farmer`
--

DROP TABLE IF EXISTS `farmer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farmer` (
  `Farmer_ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `username` varchar(50) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `Contact` varchar(15) NOT NULL,
  `Location_ID` int DEFAULT NULL,
  PRIMARY KEY (`Farmer_ID`),
  UNIQUE KEY `Contact` (`Contact`),
  KEY `Location_ID` (`Location_ID`),
  CONSTRAINT `farmer_ibfk_1` FOREIGN KEY (`Location_ID`) REFERENCES `location` (`Location_ID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `farming_activity`
--

DROP TABLE IF EXISTS `farming_activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farming_activity` (
  `Activity_ID` int NOT NULL AUTO_INCREMENT,
  `Crop_ID` int DEFAULT NULL,
  `Month` enum('January','February','March','April','May','June','July','August','September','October','November','December') DEFAULT NULL,
  `Activity_Type` enum('Land Preparation','Sowing','Irrigation','Fertilization','Pest Control','Harvesting') DEFAULT NULL,
  `Description` text,
  PRIMARY KEY (`Activity_ID`),
  KEY `Crop_ID` (`Crop_ID`),
  CONSTRAINT `farming_activity_ibfk_1` FOREIGN KEY (`Crop_ID`) REFERENCES `crop` (`Crop_ID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fertilizer`
--

DROP TABLE IF EXISTS `fertilizer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fertilizer` (
  `Fertilizer_ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Type` varchar(50) NOT NULL,
  `Usage_Guide` text NOT NULL,
  `Crop_ID` int DEFAULT NULL,
  PRIMARY KEY (`Fertilizer_ID`),
  KEY `Crop_ID` (`Crop_ID`),
  CONSTRAINT `fertilizer_ibfk_1` FOREIGN KEY (`Crop_ID`) REFERENCES `crop` (`Crop_ID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `historical_weather`
--

DROP TABLE IF EXISTS `historical_weather`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historical_weather` (
  `Weather_ID` int NOT NULL AUTO_INCREMENT,
  `District_ID` int DEFAULT NULL,
  `Month` int DEFAULT NULL,
  `Avg_Temperature` float DEFAULT NULL,
  `Avg_Rainfall` float DEFAULT NULL,
  `Avg_Humidity` float DEFAULT NULL,
  PRIMARY KEY (`Weather_ID`),
  KEY `District_ID` (`District_ID`),
  CONSTRAINT `historical_weather_ibfk_1` FOREIGN KEY (`District_ID`) REFERENCES `districts` (`District_ID`) ON DELETE CASCADE,
  CONSTRAINT `historical_weather_chk_1` CHECK ((`Month` between 1 and 12))
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `insecticide_pesticide`
--

DROP TABLE IF EXISTS `insecticide_pesticide`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `insecticide_pesticide` (
  `Pest_ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Affected_Crop_ID` int DEFAULT NULL,
  `Solution` text NOT NULL,
  PRIMARY KEY (`Pest_ID`),
  KEY `Affected_Crop_ID` (`Affected_Crop_ID`),
  CONSTRAINT `insecticide_pesticide_ibfk_1` FOREIGN KEY (`Affected_Crop_ID`) REFERENCES `crop` (`Crop_ID`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `location`
--

DROP TABLE IF EXISTS `location`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `location` (
  `Location_ID` int NOT NULL AUTO_INCREMENT,
  `District_ID` int DEFAULT NULL,
  PRIMARY KEY (`Location_ID`),
  KEY `District_ID` (`District_ID`),
  CONSTRAINT `location_ibfk_1` FOREIGN KEY (`District_ID`) REFERENCES `districts` (`District_ID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `market_price`
--

DROP TABLE IF EXISTS `market_price`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `market_price` (
  `Price_ID` int NOT NULL AUTO_INCREMENT,
  `Crop_ID` int DEFAULT NULL,
  `Date` date NOT NULL,
  `Price` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`Price_ID`),
  KEY `Crop_ID` (`Crop_ID`),
  CONSTRAINT `market_price_ibfk_1` FOREIGN KEY (`Crop_ID`) REFERENCES `crop` (`Crop_ID`) ON DELETE CASCADE,
  CONSTRAINT `market_price_chk_1` CHECK ((`Price` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `season`
--

DROP TABLE IF EXISTS `season`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `season` (
  `Season_ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(50) DEFAULT NULL,
  `Start_Month` varchar(50) DEFAULT NULL,
  `End_Month` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`Season_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `soil`
--

DROP TABLE IF EXISTS `soil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `soil` (
  `Soil_ID` int NOT NULL AUTO_INCREMENT,
  `Soil_Type` varchar(50) NOT NULL,
  `Nutrient_Level` enum('Low','Medium','High') NOT NULL,
  `Location_ID` int DEFAULT NULL,
  PRIMARY KEY (`Soil_ID`),
  KEY `Location_ID` (`Location_ID`),
  CONSTRAINT `soil_ibfk_1` FOREIGN KEY (`Location_ID`) REFERENCES `location` (`Location_ID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `states`
--

DROP TABLE IF EXISTS `states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `states` (
  `State_ID` int NOT NULL AUTO_INCREMENT,
  `State_Name` varchar(100) NOT NULL,
  PRIMARY KEY (`State_ID`),
  UNIQUE KEY `State_Name` (`State_Name`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `contact` varchar(15) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `weekly_farming_plan`
--

DROP TABLE IF EXISTS `weekly_farming_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `weekly_farming_plan` (
  `Week_ID` int NOT NULL AUTO_INCREMENT,
  `Plan_ID` int DEFAULT NULL,
  `Week_Number` int NOT NULL,
  `Activity` varchar(255) DEFAULT NULL,
  `Weather_Impact` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`Week_ID`),
  KEY `Plan_ID` (`Plan_ID`),
  CONSTRAINT `weekly_farming_plan_ibfk_1` FOREIGN KEY (`Plan_ID`) REFERENCES `yearly_farming_plan` (`Plan_ID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=101 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `yearly_farming_plan`
--

DROP TABLE IF EXISTS `yearly_farming_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `yearly_farming_plan` (
  `Plan_ID` int NOT NULL AUTO_INCREMENT,
  `Crop_ID` int DEFAULT NULL,
  `Location_ID` int DEFAULT NULL,
  `Season_ID` int NOT NULL,
  `Sowing_Month` varchar(20) DEFAULT NULL,
  `Harvest_Month` varchar(20) DEFAULT NULL,
  `Avg_Growth_Days` int DEFAULT NULL,
  PRIMARY KEY (`Plan_ID`),
  KEY `Location_ID` (`Location_ID`),
  KEY `Crop_ID` (`Crop_ID`),
  KEY `Season_ID` (`Season_ID`),
  CONSTRAINT `yearly_farming_plan_ibfk_1` FOREIGN KEY (`Crop_ID`) REFERENCES `crop` (`Crop_ID`) ON DELETE CASCADE,
  CONSTRAINT `yearly_farming_plan_ibfk_2` FOREIGN KEY (`Location_ID`) REFERENCES `location` (`Location_ID`) ON DELETE SET NULL,
  CONSTRAINT `yearly_farming_plan_ibfk_3` FOREIGN KEY (`Season_ID`) REFERENCES `season` (`Season_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-07  1:06:12
